# Site
locale: en
name: "Chester's Home"
description: "Travel | Anime | I.T."
meta_description: "travel, anime, infomation technology"
logo: 'assets/images/log2.jpg'
favicon: 'assets/images/log2.jpg'
baseurl: "/mediumish"
google_analytics: 'UA-104101890-2'
disqus: 'rafaelgeronimo'
mailchimp-list: 'https://rafaelgeronimo.us19.list-manage.com/subscribe/post?u=4b8ccd9c31e3ffa561d975a41&amp;id=bea69d42b0'



# Authors
authors:
  chester.fung:
    name: chester fung
    display_name: Chester Fung
    gravatar: c88226d6be27bfc4c132098acc5f4d64
    email: cyfung1031@gmail.com
    web: https://cyfung1031.github.io/mediumish/
    twitter: https://twitter.com/RAFAELGER0NIM0
    description: "Building Service Engineer and Anime Lover"
    author_image: /images/author.jpg
    description_markdown: "My name is **Jane Doe**, I like baking and eating sweet things."
    facebook: cy1031
    twitter: CloudCannonApp
    pinterest: pinterest
    instagram: cy1031

# Plugins
plugins: 
  - jekyll-paginate
  - jekyll-archives
#  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown
highlighter: rouge
