{% assign locale = site.data.text[site.locale] %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a  class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{ locale.previous }}</a>
  {% else %}
    <span>&laquo; {{ locale.previous }}</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="ml-1 mr-1">{{ page }}</span>
    {% else %}
      {% assign path_page = site.pagination.permalink | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page %}
      {% if page == 1 %}
        {% assign path_page1 = site.pagination.permalink | replace: '//', '/' | replace: ':num', 1 %}
        {% assign path_page = path_page | replace: path_page1, '/' %}
      {% endif %}
      <a  class="ml-1 mr-1" href="{{ path_page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a  class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ locale.next }} &raquo;</a>
  {% else %}
    <span>{{ locale.next }} &raquo;</span>
  {% endif %}
</div>
{% endif %}